{% extends 'layouts/base.html' %}

{% block content %}
<main class ='container py-5'>
    <section class = 'card card-body'>
        <h1 class = 'display-1 text-center'>Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellat sapiente, eveniet, modi facere quos aliquid fuga officia, ratione illo dicta excepturi incidunt non error pariatur sed aspernatur! Asperiores, laudantium quidem facilis enim eaque adipisci autem numquam magnam officiis. Obcaecati ab optio minus cumque quo dolorem autem consequuntur architecto. Ab, adipisci ipsa consectetur aperiam, voluptatum eum nihil vel consequuntur cumque facere consequatur reprehenderit corrupti quo cupiditate voluptatibus nemo illum aspernatur nam eius quod, minima soluta esse? Reiciendis quas quod animi aut, aperiam magnam necessitatibus laboriosam. Aspernatur consequatur fuga vero laborum aperiam quidem? Commodi porro at deserunt sed quas? Modi, facere.</p>

        <div class="text-center">
            <a class ="btn btn-secondary" href="/signin">
                Ingresar
            </a>
            <a class ="btn btn-dark" href="/signup">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}
