{% extends 'layouts/base.html'%}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class = "display-6">{{task.title}}</h1>
            {{error}}
            <form action="" method='POST'>
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button class = "btn btn-dark">
                    Actualizar
                </button>
            </form>
            <form action = "{% url 'complete_task' task.id %}" method = 'POST'>
                {% csrf_token %}
                <br>
                <button class = "btn btn-dark">
                    Completar
                </button>
            </form>
            <form action = "{% url 'delete_task' task.id %}" method = 'POST'>
                {% csrf_token %}
                <br>
                <button class = "btn btn-dark">
                    Eliminar
                </button>
            </form>
        </div>
    </div>
</main>
    

{% endblock %}
